header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rosa-claro);
}

#contenedorBuscadorHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50%;
  border-bottom: 1px solid white;
}

#IconoBuscador {
  color: white;
}

#buscador {
  flex-grow: 1;
  background-color: var(--rosa-claro);
  outline-style: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
}

#buscador::placeholder {
  color: var(--color-claro-buscador);
}